body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.items-container{display: flex; justify-content: space-between; text-align: center;}
.jumbotron{background: linear-gradient(#222222 0%, #ffffff 85%);}
.jumbotron .container h1 {color: #ffffff}

