body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.items-container{display: flex; justify-content: space-between; text-align: center;}
.jumbotron{background: linear-gradient(#222222 0%, #ffffff 85%);}
.jumbotron .container h1 {color: #ffffff}
.jumbotron .container .btn.btn-primary.btn-lg {background-image: linear-gradient(to bottom,#e2e6ea 0,#636363 80%);}
.jumbotron .container a.btn.btn-primary.btn-lg {background-color: linear-gradient(to bottom, #636363 0,#e2e6ea 100%);}
.jumbotron .container a.btn-primary {background-color: #e2e6ea; border-color: #616060}

